/* Animation I */
body {
  margin: 0 auto;
  /* text-align: center; */
}
.spin{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: beige;
  animation: square-to-circle 2s 1s infinite alternate;
  outline: 1px solid transparent;
}

@-webkit-keyframes square-to-circle {
  0%{
    border-radius: 0 0 0 0;
    background-color: red;
    transform:rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: red;
    transform:rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: blue;
    transform:rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background-color: green;
    transform:rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: pink;
    transform:rotate(180deg);
  }
}

/* Animation II Star Wars */
.wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: contain;
  background-repeat: none;
}

.starWars{
  height: 17em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40em;
}


img {
  width:100%;
}
.star, .wars, .tagline {
  position: absolute;
}
.star {
  top: -0.75em;
}
.wars {
  bottom: -0.5em;
}


.tagline {
  display: inline-block;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

.star, .wars {
  animation: starwars 10s ease-out infinite;
}


@keyframes starwars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
